# Copyright 2017, 2019, Oracle Corporation and/or affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl

sudo_pass  = "secure_sudo_pass_123"
sys_pass = "Secure_Password_123"
system_pass = "Secure_Password_123"
gsmcatuser_pass = "gsmcatuser_password"
sdb_admin_pass = "mysdbadmin_password"
gsmuser_pass = "gsmuser"
scheduler_agent_pass = "scheduler_agent_password"